<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>キーポイントの修正</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
        .keypoint {
            width: 10px;
            height: 10px;
            background-color: red;
            position: absolute;
            border-radius: 5px;
        }

        #keypoint-canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <select id="model-selector">
        <option value="openPose">OpenPose</option>
        <option value="YOLO">YOLO</option>
    </select>
    <select id="image-selector"></select>
    <button id="prev-image">前の画像</button>
    <button id="next-image">次の画像</button>
    <div id="container" style="position: relative;">
        <img id="keypoint-image" src="" alt="画像" style="position: relative;">
        <canvas id="keypoint-canvas"></canvas>
    </div>

    <button id="save-csv">座標を保存</button>

    <script>
        $(document).ready(function () {
            const imageSelector = $('#image-selector');
            const modelSelector = $('#model-selector');
            const container = $('#container');
            const canvas = document.getElementById('keypoint-canvas');
            const ctx = canvas.getContext('2d');
            let currentImageIndex = 0;
            let keypointsAll = {{ keypoints| tojson
        }};
        let imagePaths = {{ image_paths| tojson }};
        let posePairs = {{ pose_pairs| tojson }};
        const POSE_PAIRS_MAP = {
            "openPose": [[2, 3], [1, 2], [1, 5], [5, 6], [3, 4], [6, 7], [1, 8], [9, 10], [10, 11], [2, 9], [5, 12], [9, 8], [8, 12], [12, 13], [13, 14], [0, 1]],
            "YOLO": [[0, 1], [0, 2], [1, 3], [2, 4], [5, 6], [5, 7], [6, 8], [7, 9], [8, 10], [5, 11], [6, 12], [11, 12], [11, 13], [12, 14], [13, 15], [14, 16]]
        };

        // モデル選択に基づいてPOSE_PAIRSを設定
        modelSelector.change(function () {
            posePairs = POSE_PAIRS_MAP[modelSelector.val()];
            loadImageAndKeypoints(currentImageIndex);
        });

        // 画像選択のセレクターを初期化
        imagePaths.forEach((path, index) => {
            imageSelector.append(`<option value="${index}">${path.split('/').pop()}</option>`);
        });

        imageSelector.change(function () {
            currentImageIndex = $(this).val();
            loadImageAndKeypoints(currentImageIndex);
        });

        function changeImage(index) {
            currentImageIndex = index;
            loadImageAndKeypoints(currentImageIndex);
        }

        $('#prev-image').click(function () {
            if (currentImageIndex > 0) {
                changeImage(currentImageIndex - 1);
            }
        });

        $('#next-image').click(function () {
            if (currentImageIndex < imagePaths.length - 1) {
                changeImage(currentImageIndex + 1);
            }
        });

        function loadImageAndKeypoints(index) {
            const image = new Image();
            image.src = imagePaths[index];
            image.onload = function () {
                $('#keypoint-image').attr('src', image.src);
                canvas.width = image.width;
                canvas.height = image.height;
                drawSkeleton(keypointsAll[index]);
                addDraggableKeypoints(keypointsAll[index]);
            };
        }

        function drawSkeleton(keypoints) {
            clearCanvas();
            posePairs.forEach(pair => {
                let start = keypoints[pair[0]];
                let end = keypoints[pair[1]];
                if (start && end && start[0] != null && start[1] != null && end[0] != null && end[1] != null) {
                    ctx.beginPath();
                    ctx.moveTo(...start);
                    ctx.lineTo(...end);
                    ctx.strokeStyle = 'red';
                    ctx.lineWidth = 2;
                    ctx.stroke();
                }
            });
        }

        function addDraggableKeypoints(keypoints) {
            $('.keypoint').remove();
            keypoints.forEach((point, index) => {
                if (!point || point[0] === null || point[1] === null) {
                    point = [canvas.width / 2, canvas.height / 2];
                    keypoints[index] = point;
                }

                const keypointDiv = $('<div class="keypoint"></div>').appendTo(container);
                keypointDiv.css({
                    left: point[0] + 'px',
                    top: point[1] + 'px'
                }).data('index', index);

                keypointDiv.draggable({
                    containment: "parent",
                    drag: function (event, ui) {
                        keypoints[$(this).data('index')] = [ui.position.left, ui.position.top];
                        drawSkeleton(keypoints);
                    }
                });
            });
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        $('#save-csv').click(function () {
            const extendedDataToSave = keypointsAll.map((frame_keypoints) => {
                return frame_keypoints.flatMap(kp => kp !== null ? kp : null);
            });

            var currentPath = window.location.pathname;
            var endpointName = currentPath.split('/')[2];
            var requestURL = '/save-keypoints/' + endpointName;

            $.ajax({
                url: requestURL,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(extendedDataToSave),
                success: function (response) {
                    alert('Keypoints saved successfully!');
                },
                error: function (xhr, status, error) {
                    alert('Error saving keypoints: ' + error.message);
                }
            });
        });

        loadImageAndKeypoints(0);
        });
    </script>

</body>

</html>